<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="Logo" height="48" class="d-inline-block align-text-middle" />
            Saphir Lion
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-end align-items-center">
                <li th:if="${user != null}" class="nav-item"
                    th:classappend="${currentPageName == 'media'} ? 'active' : ''">
                    <a class="nav-link fs-5 bi bi-bookmark-heart" href="/media"> Ma bibliothèque</a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a class="nav-link fs-5 bi bi-box-arrow-right" href="/logout"> Déconnexion </a>
                </li>
                <li th:if="${user == null}" class="nav-item"
                    th:classappend="${currentPageName == 'login'} ? 'active' : ''">
                    <a class="nav-link fs-5 bi bi-box-arrow-in-right" href="/login"> Connexion </a>
                </li>
            </ul>
        </div>
    </div>
</nav>