.nav-item {
  flex: 1 1 0;
  white-space: nowrap;
}

.text-multiline {
  white-space: pre-wrap;
}

.w-80 {
  width: 80%;
}

.media-advence-color-missing { 
  color: #FF5000;
}

.media-advence-color-ok {
  color: #0EE000;
}

.thumbnail-media-list {
  max-height: 100px;
  max-width: 100px;
}