<div th:replace="~{fragment/header}"></div>
<p th:text="${currentPageName}"></p>

<div th:replace="~{fragment/errors.info}"></div>

<h1 th:text="${title}"></h1>

<!-- Stats -->

<p>Vous avez <span th:text="${nbMedia}"></span> séries</p>
<p>Vous en avez terminé <span th:text="${nbMediaFinished}"></span></p>
<p>Vous avez déjà vu <span th:text="${nbMediaViewed}"></span> livres</p>
<p>Vous en avez <span th:text="${nbMediaNotViewed}"></span> non vu</p>
<p>Vous avez acheté <span th:text="${nbMediaBuyed}"></span> livres</p>
<p>Il vous en manque <span th:text="${nbMediaNotBuyed}"></span></p>

<a href="/media/add" method="get">Ajouter une série</a>

<!-- List -->

<ul class="row p-0">
    <li th:each="myMedia : ${myMedias}"
        class="col-lg-6 list-unstyled p-1">
        <div class="rounded-2 border border-gray bg-light p-2 h-100">
            <div class="d-flex align-items-center">
                <div th:text="${myMedia.media.name}" class="flex-grow-1 text-center fw-bold fs-5"></div>
                <div>
                    <a th:href="@{/media/edit/{id}(id=${myMedia.id})}" method="get"
                        class="btn btn-warning bi bi-pencil"> Éditer</a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between my-3">
                <span th:classappend="${myMedia.lastSeen} lt ${myMedia.nbOwned} ? media-advence-color-missing : media-advence-color-ok"> Dernier vu </span>
                <span th:text="${myMedia.lastSeen}" class="bg-white p-2 rounded-2 border border-dark"> </span>
                <span th:classappend="${myMedia.nbOwned} lt ${myMedia.nbPublished} ? media-advence-color-missing : media-advence-color-ok"> En ma possession</span>
                <span th:text="${myMedia.nbOwned}" class="bg-white p-2 rounded-2 border border-dark"> </span>
                <span> Déjà paru</span>
                <span th:text="${myMedia.nbPublished}" class="bg-white p-2 rounded-2 border border-dark"> </span>
            </div>
            <div th:text="${myMedia.remark}" class="text-secondary"></div>
        </div>
    </li>
</ul>

<!-- Pagination -->

<div class="d-flex justify-content-center mt-3">
    <nav role="navigation" aria-label="Pagination Navigation">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link" th:classappend="@{${pages.number} lt 1} ? 'disabled'"
                    th:href="@{/media(page=${pages.number })}" rel="prev"> « Précédent </a>
            </li>

            <li th:if="${pages.totalPages gt 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/media(page=${pageNumber})}" th:text=${pageNumber} class="page-link"
                    th:classappend="${pageNumber == pages.number + 1} ? 'active'"></a>
            </li>

            <li class="page-item">
                <a class="page-link" th:classappend="@{${pages.number + 1} ge ${pages.totalPages} } ? 'disabled'"
                    th:href="@{/media(page=${pages.number + 2 })}" rel="next">Suivant »</a>
            </li>
        </ul>
    </nav>
</div>

<div th:replace="~{fragment/footer}"></div>