<div th:replace="~{fragment/header}"></div>
<p th:text="${currentPageName}"></p>

<div th:replace="~{fragment/errors.info}"></div>

<h1 th:text="${title}"></h1>

<p>Vous avez <span th:text="${nbMedia}"></span> séries</p>
<p>Vous en avez terminé <span th:text="${nbMediaFinished}"></span></p>
<p>Vous avez déjà vu <span th:text="${nbMediaViewed}"> livres</span></p>
<p>Vous en avez <span th:text="${nbMediaNotViewed}"> non vu</span></p>
<p>Vous avez acheté <span th:text="${nbMediaBuyed}"></span> livres</p>
<p>Il vous en manque <span th:text="${nbMediaNotBuyed}"></span></p>

<a href="/media/add" method="get">Ajouter une série</a>

<div th:each="myMedia : ${myMedias}">
    <div><span th:text="${myMedia.id}"></span> <span th:text="${myMedia.media.name}"></span></div>
    <div>
        <a th:href="@{/media/edit/{id}(id=${myMedia.id})}" method="get">Éditer</a>
    </div>
    <div>
        Dernier vu
        <input type="number" th:value="${myMedia.lastSeen}" />
    </div>
    <div>
        En ma possession
        <input type="number" th:value="${myMedia.nbOwned}" />
    </div>
    <div>
        Déjà paru
        <input type="number" th:value="${myMedia.nbPublished}" />
    </div>

    <div th:text="${myMedia.remark}"></div>
</div>

<div class="d-flex justify-content-center mt-3">
    <nav role="navigation" aria-label="Pagination Navigation">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link" th:classappend="@{${pages.number} lt 1} ? 'disabled'"
                    th:href="@{/media(page=${pages.number })}" rel="prev"> « Précédent </a>
            </li>

            <li th:if="${pages.totalPages gt 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/media(page=${pageNumber})}" th:text=${pageNumber} class="page-link"
                    th:classappend="${pageNumber == pages.number + 1} ? 'active'"></a>
            </li>

            <li class="page-item">
                <a class="page-link" th:classappend="@{${pages.number + 1} ge ${pages.totalPages} } ? 'disabled'"
                    th:href="@{/media(page=${pages.number + 2 })}" rel="next">Suivant »</a>
            </li>
        </ul>
    </nav>
</div>

<div th:replace="~{fragment/footer}"></div>